button{
    all:unset;
}

body,html{
    margin: 0;
}

body{
    padding: 0% 10%;
    background-color: var(--md-sys-color-surface-dim);
}

article.gameConainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

section.gameControl{
    position: absolute;
}

section.player{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 8%;
    font-size: 32px;
}

section.player div.turnScoreContainer{
    background-color: var(--md-sys-color-on-tertiary-container);
    padding: 2% 16%;
    border-radius: 19px;
    font-size: 16px;
    position: relative;
}

section.player div.turnScoreContainer h2.finishLine{
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 26px;
}

section.gameControl{
    top: 0;
    left: 42%;
    width: 16vw;
    display: flex;
    height: 88%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 3% 0;
    row-gap: 16px;

}
section.gameControl img{
    max-width: 50%;
}

section.gameControl div.buttonContainer{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: burlywood;
}

section.gameControl div.buttonContainer img {
    max-height: 65%;
    padding: 0%;
}